<app-generic-header
  title="Login"
></app-generic-header>

<div class="readme-login-content d-flex align-items-center justify-content-center">
  <div class="container">

    <button mat-raised-button type="button" class="w-100 mb-4">
      <i class="fab fa-facebook"></i>
      <span class="ml-3">Entrar com o Facebook</span>
    </button>

    <div class="d-flex align-items-center justify-content-center pb-4">
      <div class="readme-login-line">
        <mat-divider></mat-divider>
      </div>
      <span class="mx-2">ou</span>
      <div class="readme-login-line">
        <mat-divider></mat-divider>
      </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>E-mail ou nome de usuário</mat-label>
        <input matInput
          formControlName="email"
          type="email">
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Senha</mat-label>
        <input matInput
          formControlName="password"
          type="password">
      </mat-form-field>

      <button mat-raised-button color="primary"
        type="submit"
        class="w-100 mb-3"
        [disabled]="loading">
        {{ loading ? 'Carregando...' : 'Continuar' }}
      </button>
    </form>

    <div class="w-100 text-center">
      <a href="javascript:void(0);" >
        Esqueci a senha
      </a>
    </div>
  </div>
</div>
