<div class="m-3">
  <div class="mb-3 d-flex align-items-center justify-content-between">
    <strong>Minha conta</strong>
    <button mat-icon-button
      type="button"
      (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="mb-3 d-flex align-items-center justify-content-start">
    <div class="readme-sidenav-avatar mr-3">
      <img src="https://i.pravatar.cc/50?u=profilepic">
    </div>
    <div>
      <span>Ronan Flavio</span>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-start">
    <a href="javascript:void(0);" class="mr-3">
      <strong class="mr-1">89</strong>
      <span>Seguindo</span>
    </a>
    <a href="javascript:void(0);">
      <strong class="mr-1">132</strong>
      <span>Seguidores</span>
    </a>
  </div>
</div>

<mat-selection-list [multiple]="false">
  <mat-list-option *ngFor="let menu of menuItems">
    <mat-icon mat-list-icon class="material-icons-outlined">{{ menu.icon }}</mat-icon>
    <span>{{ menu.name }}</span>
  </mat-list-option>
</mat-selection-list>
