<app-generic-header
  iconBefore="close"
  iconNext="east"
  title="Selecionar livros"
  [nextDisabled]="selectedBooks.length <= 0"
  (beforeClicked)="close()"
  (nextClicked)="goToMessage()"
></app-generic-header>

<div class="readme-create-post-content">
  <div class="container mt-2">
    <app-search-bar
      placeholder="Busque pelo título, autor ou ISBN"
      (onOptionSelected)="onOptionSelected($event)"
    ></app-search-bar>
  </div>
</div>

<app-selected-books
  [bookList]="selectedBooks"
  (onBookRemoved)="onBookRemoved($event)"
></app-selected-books>
