<main>
  <ng-container *ngIf="userProfile; else showEmpty">
    <div class="readme-generic-header">
      <app-generic-header
        iconBefore="west"
        title="@{{ userProfile.usuario }}"
        (beforeClicked)="back()"
      ></app-generic-header>
    </div>

    <div class="readme-content">
      <header #header class="container">
        <div class="d-flex align-items-center">
          <app-user-avatar
            size="50px"
            [avatar]="userProfile.urlFoto"
          ></app-user-avatar>
          <div class="pl-3 w-100 d-flex align-items-center justify-content-around">
            <a href="javascript:void(0);"
              class="d-flex flex-column align-items-center"
              [routerLink]="'/users/followers/' + userProfile.id">
              <strong>{{ userProfile.seguidores }}</strong>
              <span>Seguidores</span>
            </a>
            <a href="javascript:void(0);"
              class="d-flex flex-column align-items-center"
              [routerLink]="'/users/following/' + userProfile.id">
              <strong>{{ userProfile.seguindo }}</strong>
              <span>Seguindo</span>
            </a>
          </div>
        </div>

        <div class="d-flex flex-column pt-2">
          <span class="readme-user-real-name">{{ userProfile.nome }}</span>
          <span>{{ userProfile.bio }}</span>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <button *ngIf="!selfProfile"
            type="button"
            class="readme-follow-button"
            mat-flat-button
            [color]="userProfile.estouSeguindo ? 'basic' : 'primary'"
            [class.following]="userProfile.estouSeguindo"
            (click)="toggleFollow()">
            {{ userProfile.estouSeguindo ? 'Seguindo' : 'Seguir' }}
          </button>
        </div>
      </header>

      <mat-tab-group>
        <mat-tab label="Publicações">
          <ng-container *ngIf="userPosts; else emptyPosts">
            <div *ngFor="let post of userPosts">
              <div class="container my-3">
                <app-user-post
                  [user]="{ name: userProfile.nome, username: userProfile.usuario, avatar: userProfile.urlFoto }"
                  [post]="post"
                ></app-user-post>
              </div>
              <mat-divider class="my-2"></mat-divider>
            </div>
          </ng-container>

          <ng-template #emptyPosts>
            <div class="container my-3 text-center">
              <h3>Não há nada aqui</h3>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </ng-container>

  <ng-template #showEmpty>
    <app-loading *ngIf="loading"></app-loading>
  </ng-template>
</main>
