@import 'variables';

.readme-generic-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.readme-content {
  margin-top: var(--header-height);

  .readme-user-real-name {
    font-weight: 600;
  }

  .readme-follow-button {
    width: 180px;
    max-width: 100%;
    margin: 12px 0;
    border: 1px solid rgba(0,0,0,0);

    &.following {
      border: 1px solid rgba(0,0,0,0.1);
    }
  }
}

::ng-deep .mat-tab-label {
  width: 100%;
}

::ng-deep .mat-tab-nav-bar,
::ng-deep .mat-tab-header {
  border-bottom: 1px solid var(--shaded-background);
}
