<mat-toolbar class="readme-create-post-toolbar">
  <button mat-icon-button
    type="button"
    routerLink="/">
    <mat-icon>close</mat-icon>
  </button>
  <span>Selecionar livros</span>
  <button mat-icon-button
    type="button"
    color="primary">
    <mat-icon>east</mat-icon>
  </button>
</mat-toolbar>

<div class="readme-create-post-content">
  <div class="container mt-2">
    <app-search-bar
      placeholder="Busque pelo título, autor ou ISBN"
      (onInputFocused)="onInputFocused($event)"
    ></app-search-bar>
  </div>
</div>

<ul class="readme-post-book-added m-0 pr-3 pl-3">
  <li class="d-flex align-items-center justify-content-between pt-2 pb-2">
    <div class="d-flex align-items-center">
      <img src="https://picsum.photos/id/1060/50/75"
      class="readme-post-book-image">
      <div class="d-flex flex-column ml-3">
        <strong mat-line>Nome do livro</strong>
        <span mat-line>Autor Nome e Sobrenome</span>
      </div>
    </div>
    <button mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </li>

  <li class="d-flex align-items-center justify-content-between pt-2 pb-2">
    <div class="d-flex align-items-center">
      <img src="https://picsum.photos/id/1060/50/75"
      class="readme-post-book-image">
      <div class="d-flex flex-column ml-3">
        <strong mat-line>Nome do livro</strong>
        <span mat-line>Autor Nome e Sobrenome</span>
      </div>
    </div>
    <button mat-icon-button type="button">
      <mat-icon>close</mat-icon>
    </button>
  </li>
</ul>
