<form class="readme-search-bar-container"
  [formGroup]="form">
  <mat-icon [ngClass]="{'readme-hide-search' : inputFocused}">search</mat-icon>
  <mat-icon class="pointer d-none" [ngClass]="{'readme-show-back' : inputFocused}">arrow_back</mat-icon>
  <input
    formControlName="search"
    [matAutocomplete]="autocomplete"
    [placeholder]="placeholder"
    (focus)="onFocus()"
    (blur)="onBlur()">
  <mat-spinner *ngIf="loading"
    diameter=24
  ></mat-spinner>
  <mat-autocomplete #autocomplete="matAutocomplete"
    class="readme-autocomplete-bar"
    (optionSelected)="selectOption($event.option.value)">
    <mat-option *ngFor="let book of bookAutocomplete"
      class="readme-autocomplete-bar-option"
      [value]="book">
      <mat-list>
        <mat-list-item>
          <div class="readme-search-icon">
            <img [src]="book.image">
          </div>
          <div mat-line class="readme-line-result">{{ book.title }}</div>
          <div mat-line class="readme-line-result readme-underline-result">{{ book.authors[0] }}</div>
        </mat-list-item>
      </mat-list>
    </mat-option>
    <mat-divider></mat-divider>
  </mat-autocomplete>
</form>
