<main>

  <header>
    <div class="readme-book-cover"></div>
    <div class="readme-book-info">
      <div class="readme-book-image">
        <img src="https://picsum.photos/id/1033/100/150?u=asdasd">
      </div>
      <div class="container d-flex flex-column">
        <h2 class="readme-book-title text-center">
          Título do livro Título do livro Título do livro Título do livro Título do livro
        </h2>
        <span class="readme-book-authors text-center">
          Primeiro Autor, Segundo Autor e Terceiro Autor Terceiro Autor Terceiro Autor
        </span>
      </div>
    </div>
  </header>

  <div class="text-center">
    <p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p>
    <p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p>
  </div>

</main>
