<main>

  <ng-container *ngIf="bookDetails; else loading" #showContent>
    <header #header>

      <div class="readme-book-header">
        <app-generic-header
          iconBefore="west"
          [title]="bookDetails.titulo"
          (beforeClicked)="redirectBack()"
        ></app-generic-header>
      </div>

      <app-book-cover
        [bookImage]="bookDetails.fotoUrl"
      ></app-book-cover>

      <div class="container d-flex flex-column">
        <h2 class="readme-book-title text-center">{{ bookDetails.titulo }}</h2>
        <span class="readme-book-authors text-center">{{ bookDetails.autor }}</span>
      </div>

      <div class="mt-2">
        <app-book-rating
          [value]="bookDetails.avaliacao"
          [quantity]="bookDetails.quantidadeAvaliacao"
        ></app-book-rating>
      </div>

      <div class="d-flex align-items-center justify-content-center w-100 mt-3">
        <button mat-raised-button [routerLink]="'/review/create/' + bookDetails.id">
          Escrever resenha
        </button>
      </div>

    </header>

    <mat-divider class="mt-3 mb-3"></mat-divider>

    <app-book-synopsis
      [synopsis]="bookDetails.sinopse"
    ></app-book-synopsis>

    <mat-divider class="mt-3 mb-3"></mat-divider>
    <h3 class="text-center">Publicações e resenhas</h3>
    <mat-divider class="mt-3 mb-3"></mat-divider>

    <div *ngFor="let review of bookPosts">
      <app-book-review
        [review]="review"
      ></app-book-review>
      <mat-divider class="mt-3 mb-3"></mat-divider>
    </div>
  </ng-container>

  <ng-template #loading>
    <app-loading *ngIf="loading"></app-loading>
  </ng-template>

</main>
