<main>
  <header #header>

    <div class="readme-book-header">
      <app-generic-header
        iconBefore="west"
        title="O Senhor dos Anéis - As Duas Torres"
        (beforeClicked)="redirectBack()"
      ></app-generic-header>
    </div>

    <app-book-cover></app-book-cover>

    <app-book-actions></app-book-actions>

    <div class="container d-flex flex-column">
      <h2 class="readme-book-title text-center">
        O Senhor dos Anéis - As Duas Torres
      </h2>
      <span class="readme-book-authors text-center">
        J.R.R. Tolkien
      </span>
    </div>

    <div class="mt-2">
      <app-book-rating
        [rating]="4.8"
        [reviewers]="12348"
      ></app-book-rating>
    </div>

  </header>

  <mat-divider class="mt-3 mb-3"></mat-divider>

  <div class="text-center">
    <p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p>
    <p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p>
  </div>

</main>
