<div class="readme-toolbar-fixed">
  <mat-toolbar>
    <button mat-icon-button
      class="d-flex justify-content-center align-items-center"
      type="button"
      (click)="openSidenav()">
      <app-user-avatar
        size="30px"
        [avatar]="user.urlFoto"
      ></app-user-avatar>
    </button>
    <span>read.me</span>
    <button mat-icon-button
      type="button">
      <mat-icon class="material-icons-outlined">chat</mat-icon>
    </button>
  </mat-toolbar>
  <mat-divider></mat-divider>
</div>
