<div class="readme-footer-fixed">
  <mat-divider></mat-divider>
  <mat-toolbar>
    <button mat-icon-button
      type="button"
      [class.active]="active === 'feed'"
      (click)="active = 'feed'">
      <mat-icon class="material-icons-outlined">home</mat-icon>
    </button>

    <button mat-icon-button
      type="button"
      [class.active]="active === 'search'"
      (click)="active = 'search'">
      <mat-icon class="material-icons-outlined">search</mat-icon>
    </button>

    <button mat-icon-button
      type="button"
      [class.active]="active === 'favorites'"
      (click)="active = 'favorites'">
      <mat-icon class="material-icons-outlined">favorite_outline</mat-icon>
    </button>

    <button mat-icon-button
      type="button"
      [class.active]="active === 'notifications'"
      (click)="active = 'notifications'">
      <mat-icon class="material-icons-outlined">notifications</mat-icon>
    </button>
  </mat-toolbar>
</div>
