<div class="readme-footer-fixed">
  <mat-divider></mat-divider>
  <mat-toolbar>
    <button mat-icon-button
      type="button"
      routerLink="/feed"
      routerLinkActive="active">
      <mat-icon class="material-icons-outlined">home</mat-icon>
    </button>

    <button mat-icon-button
      type="button"
      routerLink="/search"
      routerLinkActive="active">
      <mat-icon class="material-icons-outlined">search</mat-icon>
    </button>

    <button mat-icon-button
      type="button"
      routerLink="/favorites"
      routerLinkActive="active">
      <mat-icon class="material-icons-outlined">favorite_outline</mat-icon>
    </button>

    <button mat-icon-button
      type="button"
      routerLink="/notifications"
      routerLinkActive="active">
      <mat-icon class="material-icons-outlined">notifications</mat-icon>
    </button>
  </mat-toolbar>
</div>
