<mat-sidenav-container class="readme-sidenav-container" (backdropClick)="close()">

  <mat-sidenav #sidenav
    [autoFocus]="false"
    (keydown.escape)="close()">
    <app-side-menu (closeSidenav)="close()"></app-side-menu>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-header *ngIf="showNavbar"
      (sidenavOpened)="sidenav.open()"
    ></app-header>

    <div class="readme-content"
      [class.readme-with-header]="showNavbar"
      [class.readme-with-footer]="showFooter">
      <router-outlet></router-outlet>
    </div>

    <div [class.hidden]="status === onlineStatusCheck.ONLINE" class="readme-offline-message">
      <span class="readme-offline-message-text">
        <mat-icon>wifi_off</mat-icon>
        <strong class="ml-2">Você está offline</strong>
      </span>
    </div>

    <app-footer *ngIf="showFooter"></app-footer>

  </mat-sidenav-content>

</mat-sidenav-container>
