<mat-sidenav-container class="readme-sidenav-container" (backdropClick)="close()">

  <mat-sidenav #sidenav
    [autoFocus]="false"
    (keydown.escape)="close()">
    <app-side-menu (closeSidenav)="close()"></app-side-menu>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-header *ngIf="showNavbar"
      (sidenavOpened)="sidenav.open()"
    ></app-header>

    <div *ngIf="status === onlineStatusCheck.ONLINE; else offline"
      class="readme-content"
      [class.readme-with-header]="showNavbar"
      [class.readme-with-footer]="showFooter">
      <router-outlet></router-outlet>
    </div>

    <ng-template #offline>
      <div class="readme-offline-message">
        <span>Você está offline</span>
        <mat-icon>wifi_off</mat-icon>
      </div>
    </ng-template>

    <button *ngIf="showInstallButton"
      mat-raised-button color="primary"
      class="readme-pwa-button"
      (click)="addPwaToHomeScreen()">
      <mat-icon class="mr-2">download</mat-icon>
      Instalar aplicativo
    </button>

    <app-footer *ngIf="showFooter"></app-footer>

  </mat-sidenav-content>

</mat-sidenav-container>
