@import 'variables';

.readme-with-footer {
  padding-bottom: var(--footer-height);
}

.readme-with-header {
  padding-top: var(--header-height);
}

.readme-offline-message {
  bottom: var(--footer-height);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .readme-offline-message-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background: var(--warning-color);
    color: #fff;
  }
}

.readme-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-sidenav {
    min-width: var(--sidenav-min-width);
  }

  .readme-pwa-button {
    position: fixed;
    bottom: calc(var(--footer-height) + 12px);
    left: 12px;
    z-index: 999;
  }
}
