<mat-sidenav-container class="readme-sidenav-container" (backdropClick)="close()">

  <mat-sidenav #sidenav
    [autoFocus]="false"
    (keydown.escape)="close()">
    <app-side-menu (closeSidenav)="close()"></app-side-menu>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-header (sidenavOpened)="sidenav.open()"></app-header>

    <div class="readme-content container">
      <router-outlet></router-outlet>
    </div>

    <app-create-post-button></app-create-post-button>

    <app-footer></app-footer>

  </mat-sidenav-content>

</mat-sidenav-container>
