@import 'variables';

.readme-content {
  padding-bottom: var(--footer-height);
}

.readme-with-header {
  padding-top: var(--header-height);
}

.readme-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-sidenav {
    min-width: var(--sidenav-min-width);
  }
}
