<div class="m-3">
  <div class="mb-3 d-flex align-items-center justify-content-between">
    <strong>Minha conta</strong>
    <button mat-icon-button
      type="button"
      (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="mb-3 d-flex align-items-center justify-content-start">
    <div class="mr-3">
      <app-user-avatar size="30px"></app-user-avatar>
    </div>
    <div>
      <span>Ronan Flavio</span>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-start">
    <a href="javascript:void(0);" class="mr-3">
      <strong class="mr-1">89</strong>
      <span>Seguindo</span>
    </a>
    <a href="javascript:void(0);">
      <strong class="mr-1">132</strong>
      <span>Seguidores</span>
    </a>
  </div>
</div>

<mat-divider></mat-divider>

<mat-action-list>
  <button *ngFor="let menu of menuItems"
    mat-list-item
    type="button"
    (click)="menuClicked(menu.action)">
    <mat-icon mat-list-icon class="material-icons-outlined">
      {{ menu.icon }}
    </mat-icon>
    <span class="readme-action-text">{{ menu.name }}</span>
  </button>
</mat-action-list>

<mat-divider></mat-divider>

<mat-action-list>
  <button mat-list-item (click)="logout()">
    <mat-icon mat-list-icon class="material-icons-outlined">logout</mat-icon>
    <span class="readme-action-text">
      {{ exiting ? 'Saindo...' : 'Sair' }}
    </span>
  </button>
</mat-action-list>
