<div class="d-flex align-items-start justify-content-start">
  <div class="readme-post-avatar mr-2">
    <img [src]="post.user.avatar">
  </div>
  <div class="readme-post-content">
    <div class="mb-2 d-flex align-items-center justify-content-start">
      <a href="#">
        <strong>{{ post.user.name }}</strong>
      </a>
      <span class="mr-2 ml-2">·</span>
      <a href="#">
        35 min
      </a>
    </div>
    <div class="mb-2">
      <span [innerHtml]="post.message"
        [class.readme-post-description-short]="post.truncate"
      ></span>
      <a href="javascript:void(0);"
        class="readme-post-read-more-button"
        [hidden]="!post.truncate"
        (click)="readMore(post)">ler mais</a>
    </div>
    <div class="readme-post-books">
      <div *ngFor="let book of post.books"
        class="readme-post-book-card">
        <img [src]="book.image">
        <div class="readme-post-book-card-title">
          <span>{{ book.title }}</span>
          <span class="mr-1 ml-1">·</span>
          <span>{{ book.authors[0] }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
