@use '@angular/material' as mat;

$readme-typography: mat.define-typography-config(
  $font-family: '"Poppins", sans-serif;'
);

@include mat.core($readme-typography);

html, body {
  height: 100%;
}
body {
  margin: 0;
}
a {
  color: initial;
  text-decoration: none;
}
a:active {
  text-decoration: underline;
}
