@use 'assets/styles/light-theme';

html, body {
  height: 100%;
}
body {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  color: initial;
  text-decoration: none;
}
a:active {
  text-decoration: underline;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100% !important;
}
.pointer {
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none !important;
}
