@use '@angular/material' as mat;

$readme-typography: mat.define-typography-config(
  $font-family: '"Poppins", sans-serif;'
);

@include mat.core($readme-typography);

$my-primary: mat.define-palette(mat.$light-blue-palette);
$my-accent: mat.define-palette(mat.$grey-palette, 900);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

@include mat.all-component-themes($my-theme);
