* {
  // Sizes
  --header-height: 55px;
  --footer-height: 55px;
  --sidenav-min-width: 280px;
  --book-details-height: 160px;

  // Colors
  --shaded-background: rgba(0,0,0,0.05);
  --text-muted: rgba(0,0,0,0.5);
  --star-rating: #FFA41C;
  --error-color: #ff1744;
  --success-color: #03a9f4;
  --warning-color: #FFA41C;
}

// Took from Material Design: https://material.angular.io/cdk/layout/overview

$smallHandset: 359px;
$mediumHandset: 399px;
$largeHandset: 479px;
$extraLargeHandset: 599px;
$smallTablet: 719px;
$mediumTablet: 839px;
$largeTablet: 959px;
$smallLaptop: 1279px;
$mediumLaptop: 1439px;
$largeLaptop: 1599px;
$largeDesktop: 1919px;
$extraLargeDesktop: 1920px;
